<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
	<div class="gh-footer-inner gh-inner">
		<div class="gh-footer-bar">
			<span class="gh-footer-logo is-title">
				{{#if @site.logo}}
					<img src="{{@site.logo}}" alt="{{@site.title}}">
				{{else}}
					{{@site.title}}
				{{/if}}

				<p class="description">{{ @site.description }}</p>
			</span>

			<nav class="gh-footer-menu">
				{{ navigation type="primary" }}
			</nav>

			<nav class="gh-footer-menu">
				{{ navigation type="secondary" }}
			</nav>

			<nav class="gh-footer-menu ghost">
				<p>Powered by <a href="https://ghost.org/" target="_blank" rel="noreferrer">Ghost<img src="https://ghost.org/images/logos/ghost-logo-orb.png" /></a></p>
			</nav>
		</div>

		<div class="gh-footer-copyright-container">
			<span class="copyright">© {{date published_at format="YYYY"}} - {{@site.title}}</span>

			<a href="https://dezenve.com.br" target="_blank" rel="noreferrer"><img src="{{asset "images/dezenve-logo.svg"}}" alt="Logo da DEZENVE" width="20" /></a>
		</div>
	</div>
</footer>