<section id="page-home-supporters" class="gh-outer">
  <div class="gh-inner">
    <h2 class="gh-container-title">
      Patrocinadores
    </h2>

    <div class="logos-container">
        <img src="{{ asset "images/apoiadores/3rios.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/avantibet.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/avenida.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/barbearia.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/betox.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/bolas.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/central.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/centro.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/chines.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/gobbo.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/mariano.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/mercado.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/ms.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/nena.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/paraiso.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/progresso.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/raissa.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/ramnet.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/rubira.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/terceira.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/toloi.jpg" }}" class="logo" />
        <img src="{{ asset "images/apoiadores/toninho.jpg" }}" class="logo" />
    </div>
  </div>
</section>