<section id="page-home-supporters" class="gh-outer">
  <div class="gh-inner">
    <h2 class="gh-container-title">
      Patrocinadores
    </h2>

    <div class="logos-container">
        <img src="{{ asset "images/logos/3rios.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/avantibet.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/avenida.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/barbeariarubira.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/bolasmaringa.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/chinesgas.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/depositocentral.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/estacaomariano.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/gobbogas.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/jornalterceiraopiniao.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/mercadovistaalegre.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/ms.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/nena.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/panificadoraraissa.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/paraiso.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/ramnet.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/sapatariaprogresso.jpg" }}" class="logo" />
        <img src="{{ asset "images/logos/toninho.jpg" }}" class="logo" />
    </div>
  </div>
</section>